@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {}

@layer components {
  .nav-list {
    @apply flex flex-row flex-nowrap whitespace-nowrap text-base font-medium leading-[1.8] mx-auto md:font-bold md:mt-[14px] lg:mt-0 lg:text-xl ;
  }

  .section-title {
    @apply text-center text-xl font-bold leading-[1.8] mb-5 md:text-[26px] md:mb-10 lg:text-[32px];
  }

  .login-input {
    @apply p-1 bg-[#F7F7F7] rounded shadow-[0px_2px_2px_0px_rgba(0,0,0,0.05)_inset] w-[208px];
  }
}

@layer utilities {}